.container.thinWindow
  .content
    %h2 Create User
    %h2 
    %form{role: "form", action: "/users", method: "post"}
      .form-group
        %label{for: "FirstNameInput"} First Name
        %input#FirstNameInput.form-control{placeholder: "John", type: "first name", name: "first_name"}

      .form-group
        %label{for: "LastNameInput"} Last Name
        %input#LastNameInput.form-control{placeholder: "Doe", type: "last name", name: "last_name"}

      .form-group
        %label{for: "EmailInput"} Email Address
        %input#EmailInput.form-control{placeholder: "John.Doe@Chelp.com", type: "email", name: "email"}

      .form-group
        %label{for: "PasswordInputOne"} Password
        %input#PasswordInputOne.form-control{placeholder: "Password", type: "password", name: "password_one"}

      .form-group
        %input#PasswordInputTwo.form-control{placeholder: "Re-Enter Password", type: "password", name: "password_two"}
        %p.help-block Please Re-Enter your password
      %button.btn.btn-large.btn-primary{type: "submit"} Create