.container
  .content.thinWindow
    %form.form-signin{action: "login", method: "post"}
      %h2.form-signin-heading Please sign in
      %input.input-block-level{placeholder: "Email address", type: "email", name: "email"}
      %input.input-block-level{placeholder: "Password", type: "password", name: "password"}
      %label.checkbox
        %input{type: "checkbox", value: "remember-me"}
        Remember me
      %button.btn.btn-large.btn-primary{type: "submit"} Sign in